---
import type { MarkdownHeading } from "astro";

import TableOfContentsHeading from "./TableOfContentsHeading.astro";

import generateToc from "./generateToc";

interface Props {
  headings: MarkdownHeading[];
  scrollspy: boolean;
}

const { headings, scrollspy } = Astro.props;
const filteredHeadings = generateToc(headings.filter((h) => h.depth <= 3));
---

<table-of-contents>
  <nav id={scrollspy ? "toc" : "not-toc"} class="overflow-y-auto">
    <h2
      class="border-theme flex items-center gap-2 border-b py-2 text-lg font-semibold"
    >
      Table of Contents
      <button
        class="cursor-pointer"
        title="Scroll to top"
        onclick="window.scroll({top: 0})"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6"
        >
          <path
            d="M12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2ZM13 12H16L12 8L8 12H11V16H13V12Z"
          ></path>
        </svg>
      </button>
    </h2>
    <ul class="list-inside py-2">
      {
        filteredHeadings.map((heading) => (
          <TableOfContentsHeading heading={heading} scrollspy={scrollspy} />
        ))
      }
    </ul>
  </nav>
</table-of-contents>

<script>
  const setCurrentHeading: IntersectionObserverCallback = (entries) => {
    // loop to each section in the page
    for (let entry of entries) {
      // Get the heading of the section
      const heading =
        entry.target.querySelector<HTMLHeadingElement>("h2, h3, h4, h5");
      if (!heading) return;

      const id = heading.getAttribute("id");

      // check if the entry is intersecting
      if (entry.isIntersecting) {
        // remove active class from all links
        // add active class to the currently active entry
        document
          .querySelector(`#toc li a[href='#${id}']`)
          ?.classList.add("not-dark:text-stone-800", "dark:text-stone-200");
      } else {
        document
          .querySelector(`#toc li a[href='#${id}']`)
          ?.classList.remove("not-dark:text-stone-800", "dark:text-stone-200");
      }
    }
  };

  customElements.define(
    "table-of-contents",
    class extends HTMLElement {
      connectedCallback() {
        const observer = new IntersectionObserver(setCurrentHeading);
        // select all headings to observe
        const elToObserve = document.querySelectorAll("article section");
        // finally, observe the elements
        elToObserve.forEach((el) => observer.observe(el));
      }
    },
  );
</script>
