---
import type { TocItem } from "./generateToc";

interface Props {
  heading: TocItem;
  scrollspy: boolean;
}

const { heading, scrollspy } = Astro.props;
---

<li>
  <a
    href={"#" + heading.slug}
    class="line-clamp-1 text-sm/loose transition-colors hover:text-blue-600 md:text-base/loose hover:dark:text-blue-400"
    class:list={[
      {
        "text-stone-500 not-dark:text-stone-400": scrollspy,
        "text-stone-700 dark:text-stone-300": !scrollspy,
      },
    ]}
  >
    {heading.text}
  </a>
  {
    heading.children.length > 0 && (
      <ul class="pl-4">
        {heading.children.map((child) => (
          <Astro.self heading={child} scrollspy={scrollspy} />
        ))}
      </ul>
    )
  }
</li>
