@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Setting custom theme variables */
@theme {
  --font-sans: "JetBrains Mono Variable", "sans-serif";
  --font-mono: "JetBrains Mono Variable", "monospace";
  --font-cursive: "Victor Mono Variable", "serif";
}

/* Dark mode on class instead of prefers-color-scheme */
@custom-variant dark (&:where(.dark, .dark *));

/* Utilities */
@utility text-muted {
  @apply text-stone-600 dark:text-stone-400;
}
@utility text-dim {
  @apply text-stone-400 dark:text-stone-600;
}

@utility bg-noise {
  background: url("./noise.png");
}

@utility border-theme {
  @apply border-stone-300 dark:border-stone-700;
}

@utility bg-theme {
  @apply bg-stone-200 dark:bg-stone-900;
}

@utility site-box {
  @apply container m-auto border-x border-stone-300 dark:border-stone-700;
}

@utility bg-pattern {
  background-image: repeating-linear-gradient(
    315deg,
    var(--pattern-color) 0,
    var(--pattern-color) 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 10px 10px;
}

.tippy-box[data-theme="default"] {
  @apply max-w-lg rounded-none border-stone-500 bg-stone-100 text-sm text-stone-900 shadow-sm;
}

i {
  @apply italic;
}

/* Screenreader */
.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
