---
import BaseLayout from "../layouts/BaseLayout.astro";

import { SITE_SUFFIX, SITE_DESCRIPTION } from "../consts";
---

<BaseLayout title={"About Me" + SITE_SUFFIX} description={SITE_DESCRIPTION}>
  <div>
    <div
      class="border-theme container m-auto flex w-full items-center justify-center border-x sm:justify-start"
    >
      <h1 class="font-cursive px-12 py-12 text-3xl font-semibold">About Me</h1>
    </div>
  </div>
  <div>
    <div
      class="border-theme relative container m-auto flex w-full flex-col items-center border-x"
    >
      <div class="bg-noise absolute inset-0 -z-10 opacity-50"></div>

      <div class="flex w-full flex-col lg:flex-row">
        <div class="flex-2/3 p-12">
          <div class="w-full max-w-2xl *:mb-4">
            <p>
              I'm a <i>senior software engineer</i> and <i>
                developer experience advocate
              </i> with a focus on improving the developer experience of my peers
              using open source tools and adopting best practices. I am passionate
              about constantly learning to improve my repertoire of skills and working
              with teams.
            </p>
            <p>
              I have years of experience in numerous startup companies with a
              wide range of horizontals and experience in integrating with
              external financial API services, real time WebRTC and chat
              systems, web app localization and much more. I also have a passion
              for designing and architecting systems, improving the DX of
              working on apps and mentoring and guiding fresh developers.
            </p>
          </div>
        </div>
        <div
          class="relative flex flex-1/3 justify-center py-12 pr-12 pl-12 lg:justify-start lg:pl-0"
        >
          <div class="sticky top-3 h-fit">
            <div
              class="flex flex-col gap-8 sm:flex-row sm:gap-16 lg:flex-col lg:gap-8"
            >
              <div class="border-theme relative flex items-center border-2 p-6">
                <div class="bg-pattern absolute inset-0 -z-10 h-full"></div>
                <div
                  class="border-theme flex w-[200px] flex-col items-center border-2 bg-stone-200 md:w-[220px] dark:bg-stone-950"
                >
                  <img
                    src="/images/profile-photo.jpg"
                    alt="Anirudh Sylendranath's profile photo"
                    width="240"
                    height="240"
                    class="border-theme border-b-2"
                  />
                  <div class="text-muted p-3 text-center">
                    Anirudh Sylendranath
                  </div>
                </div>
              </div>
              <div class="*:hover:text-blue-600 *:hover:dark:text-blue-400">
                <a
                  href="https://github.com/aniforprez"
                  target="_blank"
                  rel="noopener"
                  class="group text-muted flex w-fit items-center gap-2"
                  aria-label="GitHub"
                  title="GitHub"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="size-4"
                    ><path
                      d="M12.001 2C6.47598 2 2.00098 6.475 2.00098 12C2.00098 16.425 4.86348 20.1625 8.83848 21.4875C9.33848 21.575 9.52598 21.275 9.52598 21.0125C9.52598 20.775 9.51348 19.9875 9.51348 19.15C7.00098 19.6125 6.35098 18.5375 6.15098 17.975C6.03848 17.6875 5.55098 16.8 5.12598 16.5625C4.77598 16.375 4.27598 15.9125 5.11348 15.9C5.90098 15.8875 6.46348 16.625 6.65098 16.925C7.55098 18.4375 8.98848 18.0125 9.56348 17.75C9.65098 17.1 9.91348 16.6625 10.201 16.4125C7.97598 16.1625 5.65098 15.3 5.65098 11.475C5.65098 10.3875 6.03848 9.4875 6.67598 8.7875C6.57598 8.5375 6.22598 7.5125 6.77598 6.1375C6.77598 6.1375 7.61348 5.875 9.52598 7.1625C10.326 6.9375 11.176 6.825 12.026 6.825C12.876 6.825 13.726 6.9375 14.526 7.1625C16.4385 5.8625 17.276 6.1375 17.276 6.1375C17.826 7.5125 17.476 8.5375 17.376 8.7875C18.0135 9.4875 18.401 10.375 18.401 11.475C18.401 15.3125 16.0635 16.1625 13.8385 16.4125C14.201 16.725 14.5135 17.325 14.5135 18.2625C14.5135 19.6 14.501 20.675 14.501 21.0125C14.501 21.275 14.6885 21.5875 15.1885 21.4875C19.259 20.1133 21.9999 16.2963 22.001 12C22.001 6.475 17.526 2 12.001 2Z"
                    ></path></svg
                  >
                  <span class="underline-offset-4 group-hover:underline"
                    >GitHub</span
                  >
                </a>
                <a
                  href="https://www.linkedin.com/in/anirudh-sylendranath-55989239/"
                  target="_blank"
                  rel="noopener"
                  class="group text-muted flex w-fit items-center gap-2"
                  aria-label="LinkedIn"
                  title="LinkedIn"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="size-4"
                    ><path
                      d="M18.3362 18.339H15.6707V14.1622C15.6707 13.1662 15.6505 11.8845 14.2817 11.8845C12.892 11.8845 12.6797 12.9683 12.6797 14.0887V18.339H10.0142V9.75H12.5747V10.9207H12.6092C12.967 10.2457 13.837 9.53325 15.1367 9.53325C17.8375 9.53325 18.337 11.3108 18.337 13.6245V18.339H18.3362ZM7.00373 8.57475C6.14573 8.57475 5.45648 7.88025 5.45648 7.026C5.45648 6.1725 6.14648 5.47875 7.00373 5.47875C7.85873 5.47875 8.55173 6.1725 8.55173 7.026C8.55173 7.88025 7.85798 8.57475 7.00373 8.57475ZM8.34023 18.339H5.66723V9.75H8.34023V18.339ZM19.6697 3H4.32923C3.59498 3 3.00098 3.5805 3.00098 4.29675V19.7033C3.00098 20.4202 3.59498 21 4.32923 21H19.6675C20.401 21 21.001 20.4202 21.001 19.7033V4.29675C21.001 3.5805 20.401 3 19.6675 3H19.6697Z"
                    ></path></svg
                  >
                  <span class="underline-offset-4 group-hover:underline"
                    >LinkedIn</span
                  >
                </a>
                <a
                  href="https://bsky.app/profile/aniforprez.dev"
                  target="_blank"
                  rel="noopener"
                  class="group text-muted flex w-fit items-center gap-2"
                  aria-label="Bluesky"
                  title="Bluesky"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="size-4"
                    ><path
                      d="M12 11.3884C11.0942 9.62673 8.62833 6.34423 6.335 4.7259C4.13833 3.17506 3.30083 3.4434 2.75167 3.69256C2.11583 3.9784 2 4.95506 2 5.52839C2 6.10339 2.315 10.2367 2.52 10.9276C3.19917 13.2076 5.61417 13.9776 7.83917 13.7309C4.57917 14.2142 1.68333 15.4017 5.48083 19.6292C9.65833 23.9542 11.2058 18.7017 12 16.0392C12.7942 18.7017 13.7083 23.7651 18.4442 19.6292C22 16.0392 19.4208 14.2142 16.1608 13.7309C18.3858 13.9784 20.8008 13.2076 21.48 10.9276C21.685 10.2376 22 6.10256 22 5.52923C22 4.95423 21.8842 3.97839 21.2483 3.6909C20.6992 3.44256 19.8617 3.17423 17.665 4.72423C15.3717 6.34506 12.9058 9.62756 12 11.3884Z"
                    ></path></svg
                  >
                  <span class="underline-offset-4 group-hover:underline"
                    >Bluesky</span
                  >
                </a>
                <a
                  href="/resume.pdf"
                  target="_blank"
                  class="group text-muted flex w-fit items-center gap-2"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="size-4"
                    ><path
                      d="M3.9985 2C3.44749 2 3 2.44405 3 2.9918V21.0082C3 21.5447 3.44476 22 3.9934 22H20.0066C20.5551 22 21 21.5489 21 20.9925L20.9997 7L16 2H3.9985ZM10.5 7.5H12.5C12.5 9.98994 14.6436 12.6604 17.3162 13.5513L16.8586 15.49C13.7234 15.0421 10.4821 16.3804 7.5547 18.3321L6.3753 16.7191C7.46149 15.8502 8.50293 14.3757 9.27499 12.6534C10.0443 10.9373 10.5 9.07749 10.5 7.5ZM11.1 13.4716C11.3673 12.8752 11.6043 12.2563 11.8037 11.6285C12.2754 12.3531 12.8553 13.0182 13.5102 13.5953C12.5284 13.7711 11.5666 14.0596 10.6353 14.4276C10.8 14.1143 10.9551 13.7948 11.1 13.4716Z"
                    ></path></svg
                  >
                  <span class="underline-offset-4 group-hover:underline"
                    >Resume (PDF)</span
                  >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="work-history">
    <div
      class="border-theme relative container m-auto flex w-full flex-col border-x px-6 md:px-12"
    >
      <div class="bg-pattern absolute inset-0 -z-10 h-full"></div>

      <div class="bg-theme border-theme border-x">
        <h2 class="border-theme border-b px-12 py-8 text-2xl font-semibold">
          Work History
        </h2>
      </div>
    </div>
  </div>
</BaseLayout>
