---
const today = new Date();
---

<footer class="border-stone-300 px-3 dark:border-stone-700">
  <div
    class="container m-auto border-x border-stone-300 p-12 dark:border-stone-700"
  >
    <div class="text-sm md:text-base">
      &copy; {today.getFullYear()} Anirudh Sylendranath. All rights reserved.
    </div>
    <div class="text-xs text-stone-500 md:text-sm">
      Made with care and love. The words flow freely.
    </div>
  </div>
</footer>
