---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === "/" + pathname || href === "/" + (subpath?.[0] || "");
---

<a
  href={href}
  class="border-theme border-r px-4 py-3 text-stone-500 no-underline hover:bg-stone-100 hover:text-blue-600 hover:shadow-md dark:hover:bg-stone-700 dark:hover:text-blue-400"
  class:list={[
    className,
    {
      "text-stone-950 underline underline-offset-3 dark:text-stone-100":
        isActive,
    },
  ]}
  {...props}
>
  <slot />
</a>
