{% extends "base.html" %}

{% block content %}
<h1 class="py-4 font-serif text-3xl font-bold lg:text-4xl">About</h1>
<div class="flex flex-col py-4 pt-8 border-t-2 md:flex-row-reverse">
  <div class="flex-1">
    <div class="flex flex-col items-center justify-center w-full h-full py-4 md:py-8">
      <img src='{{ get_url(path="images/photo_new.jpg") }}' alt="Photo of Anirudh Sylendranath"
           class="p-1 border-2 rounded-full shadow-sm w-36 h-36 lg:w-48 lg:h-48">
      <div class="my-4 text-lg font-bold lg:text-xl">Anirudh Sylendranath</div>
    </div>
  </div>
  <div class="flex-1 prose prose-base prose-slate lg:prose-lg dark:prose-invert">{{ page.content | safe }}</div>
</div>
<div class="my-4">
  <h2 class="py-2 text-xl lg:text-2xl">Skills</h2>
  <div class="flex flex-row flex-wrap gap-3 py-2 lg:text-lg">
    <div class="align-middle">
      <i class='align-text-top bx bxl-python'></i> <span>Python</span>
    </div>
    <div class="align-middle">
      <i class='align-text-top bx bxs-diamond'></i> <span>Ruby</span>
    </div>
    <div class="align-middle">
      <i class='align-text-top bx bxl-javascript'></i> <span>JavaScript</span>
    </div>
    <div class="align-middle">
      <i class='align-text-top bx bxl-go-lang'></i> <span>GoLang</span>
    </div>
    <div class="align-middle">
      <i class='align-text-top bx bxl-postgresql'></i> <span>Postgres</span>
    </div>
    <div class="align-middle">
      <i class='align-text-top bx bxl-mongodb'></i> <span>MongoDB</span>
    </div>
  </div>
</div>
<div class="my-4 text-base lg:text-xl">
  <a href='{{ get_url(path="resume.pdf") }}' target="_blank" class="py-2">
    <span class="pb-1 border-b-2 border-gray-400">Resume</span>
    <i class='inline-block align-text-top bx bxs-file-pdf'></i>
  </a>
</div>
{% endblock title %}
