{% extends "base.html" %}

{% block title %}
aniforprez's Blog
{% endblock %}

{% block description %}
Anirudh Sylendranath's Blog
{% endblock %}

{% block content %}
<div class="flex flex-col h-full">
  <h1 class="py-4 font-serif text-3xl font-bold lg:text-4xl">{{ section.title }}</h1>
  <div class="flex-grow py-8 border-t-2">
    <div class="flex flex-col">
      <!-- TODO add search at some point -->
      <ul>
        <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
        {% for page in paginator.pages %}
        <li class="mb-8">
          <a href="{{ page.permalink | safe }}" class="dark:hover:text-slate-300 hover:text-gray-500">
            <span class="text-xl font-bold lg:text-2xl">{{ page.title }}</span>
          </a>
          <div class="mt-2 text-base text-gray-700 lg:text-lg dark:text-slate-300">{{ page.description }}</div>
          <div class="mt-2">
            <span class="text-gray-600 dark:text-slate-400">
              <i class='bx bxs-calendar'></i>
              {{ page.date | date(format="%d, %b %Y") }}
            </span>
            {% for tag in page.taxonomies.tags %}
            <a href="/tags/{{ tag }}"
               class="text-black dark:text-blue-100 hover:text-blue-600 dark:hover:text-blue-600">
              <span class="px-2">#{{tag}}</span>
            </a>
            {% endfor %}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="flex flex-row items-center justify-center">
    <!-- TODO Styling for pagination -->
    {% if paginator.number_pagers != 1 %}
    <nav class="">
      {% if paginator.first != paginator.current_index %}
      <a class="previous" href="{{ paginator.first }}">‹‹</a>
      {% endif %}
      {% if paginator.previous %}
      <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
      {% endif %}
      Page {{ paginator.current_index }} of {{ paginator.number_pagers }}
      {% if paginator.next %}
      <a class="next" href="{{ paginator.next }}">Next ›</a>
      {% endif %}
      {% if paginator.last != paginator.current_index %}
      <a class="previous" href="{{ paginator.first }}">››</a>
      {% endif %}
    </nav>
    {% endif %}
  </div>
</div>
{% endblock content %}
