{% extends "base.html" %}

{% block title %}
{% set page_title = "aniforprez | Anirudh Sylendranath's Website" %}
{% endblock %}

{% block description %}
{% set page_description = "Anirudh Sylendranath | Senior Software Engineer and Developer Experience Advocate" %}
{% endblock %}

{% block content %}
<div class="flex flex-col items-start justify-center h-full -mt-16">
  <div class="text-3xl sm:text-4xl lg:text-5xl">
    <span class="font-bold">Hi! This is</span>
    <br class="sm:hidden">
    <span class="font-serif italic underline">Anirudh Sylendranath</span>
  </div>
  <div class="mt-4 text-lg sm:text-xl md:text-2xl">
    <span class="font-thin">Senior Software Engineer,</span>
    <!-- <br class="sm:hidden"> -->
    <span class="font-thin">Developer Experience Advocate</span>
  </div>
</div>
{% endblock %}
