{% extends "base.html" %}

{% block title %}
{% set page_title = page.title ~ " | aniforprez's Blog" %}
{% endblock %}

{% block description %}
{% set page_description = page.description %}
{% endblock %}

{% block content %}
<div class="flex flex-col h-full">
  <h1 class="py-4">
    <span class="font-serif text-3xl font-bold lg:text-4xl">{{ page.title }}</span>
  </h1>
  <div class="w-full py-8 border-t-2">
    <div class="text-lg">
      <span class="text-gray-600 dark:text-slate-400">
        <i class='bx bxs-calendar'></i>
        {{ page.date | date(format="%d, %B %Y") }}
      </span>
      <span>
        {% for tag in page.taxonomies.tags %}
        <a href="/tags/{{ tag }}" class="text-black dark:text-blue-100 hover:text-blue-600 dark:hover:text-blue-600">
          <span class="px-2">#{{tag}}</span>
        </a>
        {% endfor %}
      </span>
    </div>
    <article class="relative mt-8 prose text-justify dark:prose-invert prose-base lg:prose-lg max-w-none">
      {{ page.content | safe }}
    </article>
  </div>
</div>
{% endblock %}
