{% extends "base.html" %}

{% block title %}
{{ taxonomy.name | capitalize }} | aniforprez's Blog
{% endblock %}

{% block description %}
Anirudh Sylendranath's Blog {{ taxonomy.name | capitalize }}
{% endblock %}

{% block content %}
<div class="flex flex-col h-full">
  <h1 class="py-4 font-serif text-3xl font-bold lg:text-4xl">{{ taxonomy.name | capitalize }}</h1>
  <div class="flex-grow py-8 border-t-2">
    <div class="flex flex-col">
      <ul>
        {% for term in terms %}
        <li class="text-lg">
          <a href="{{ term.path }}" class="hover:text-blue-600">{{ term.name }} ( {{ term.pages | length }} )</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
